#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
}

.row {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.281);
    border-width: 1px;
    flex-grow: 1;
}

.lastRow {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.281);
    border-width: 1px;
    flex-grow: 1;
    break-after: always; /* BUG: IGNORED BY GOOGLE CHROME */
}